<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AssetPdaApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assetmanagementpda"
        tools:targetApi="31">
        <activity
            android:name=".feature.repair.RepairerPickerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.repair.RepairFinishActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.repair.RepairStartActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.repair.RepairDetailActivity"
            android:exported="false" />
        <activity
            android:name=".feature.repair.RepairSubmitActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.repair.RepairWorkbenchActivity"
            android:exported="false" />
        <activity
            android:name=".feature.borrow.BorrowerPickerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.borrow.BorrowReturnActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.receive.ReceiveRecipientPickerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.receive.ReceiveActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.inbound.InboundActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".feature.rfid.RfidUnbindActivity"
            android:exported="false" />
        <activity
            android:name=".feature.inventory.InventoryExecuteActivity"
            android:exported="false" />
        <activity
            android:name=".feature.inventory.InventoryTaskListActivity"
            android:exported="false" />
        <activity
            android:name=".feature.rfid.RfidBindActivity"
            android:exported="false" />
        <activity
            android:name=".feature.rfid.RfidTagBatchActivity"
            android:exported="false" />
        <activity
            android:name=".feature.identify.AssetIdentifyActivity"
            android:exported="false" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
